<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>envoi de fichier en html</title>
</head>
<body>

	<div> Les valeurs colonnes de votres jeu de donnée sont les suivantes </div>
	<div> </div>
	<div>
	<form method="post">
		{% csrf_token %}
		{% for e in columns %}
			<div>
				{{ e.col }}
				{% if e.val_manquante != 0 %}
					:Il y a {{ e.val_manquante }} valeurs manquantes
				{% endif %}
			</div>
		{% endfor %}
	</div>

	<input type="submit" name="" value= "continuer et supprimer les colonnes des valeurs manquantes">
	</form>

</body>
</html>
